#include <iostream>

int main() {
  std::cout << "Special greetings to "
            << "{{special}}" << '\n';
  {% for n in names %
  }
  std::cout << "Hello "
            << "{{n}}" << '\n';
  { % endfor % }
}
