build --cxxopt='-std=c++2a'
build --cxxopt='-Wall'
build --cxxopt='-Wpedantic'
build --cxxopt='-Wextra'
build --cxxopt='-Werror'
build --cxxopt='-Wconversion'
build --per_file_copt=benchmark/.*\(.cc|.h)@-Wno-deprecated-declarations
build --per_file_copt=benchmark/.*\(.cc|.h)@-Wno-conversion
build --per_file_copt=boost/.*\(.cc|.cpp|.h)@-Wno-conversion
build --per_file_copt=boost/.*\(.cc|.cpp|.h)@-Wno-implicit-fallthrough
build --per_file_copt=boost/.*\(.cc|.cpp|.h)@-Wno-unused-parameter

build:asan --cxxopt="-fsanitize=address"
build:asan --linkopt="-fsanitize=address"

build:usan --cxxopt=""-fsanitize=undefined
build:usan --linkopt="-fsanitize=undefined"

build:llvm --crosstool_top=@llvm_toolchain//:toolchain
build:llvm --linkopt="-lc++fs"

